################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SDETAPI_CSharp/SDETAPI_CSharp/bin/Debug/net6.0
/.vs/APICourse/v17
/SDETAPI_CSharp/.vs/SDETAPI_CSharp/FileContentIndex
